@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
body{
    background: white;
}

h1{
    color: white;
    padding: 0px 13px;
    font-size: 120%;
}

.nav-top .logo{
    margin-left: 50px;
    display: flex;
    padding: auto;
}

.nav-top{
    background: #111827;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    padding: 5px 10px;
}

.logo-var img{
    height: 30px;
    width: auto;
}
.nav-top {
    list-style: none;

}

.nav-top .uno li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-top .uno a{
    font-size: 700;
    color: #9ca3af;
    text-decoration: none;
}
.nav-top .logo img{
    height: 30px;
    width: auto;
}

.menu{
    display: none;
} 

.nav-down{
    background: #1f2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 5px 10px;

}
.nav-down .one{
    list-style: none;

}

.nav-down .one li{
    display: inline-block;
    padding: 0px 10px;
}

.nav-down .one a{
    font-size: 700;
    color: #def2fc;
    text-decoration: none;
}

@media screen and (max-width: 800px){
    #palabra,
    #icono1,
    .nav-down{
        display: none;
    }

    .menu{
        display: inherit;
    }
    
}

/*Responsive*/

#barra{
    margin-right: 20px;
    display: flex;
    padding: auto;
    height: 40px;
}

.header a{
    text-decoration: none;
}

.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #111827;
    overflow: hidden;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    font-weight: 700;
    color: white;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size:  65px;
}

@media screen and (max-height:450px){
    .header .overlay a{
        font-size: 20px;
    }

    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    
} 
